<table class="table table-hover">
    <tr valign='top'>
        <td width='70px'>
            <img src=" {{ post.author.avatar(36) }} ">
        </td>
        <td>
            <span class="user_popup">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
            said
            <span>
            {{ moment(post.timestamp).fromNow() }}:
            </span><br>
            <span>
                {{ post.body }}                    
            </span>
        </td>
    </tr>
</table>